
body {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #8177ba;
}

header {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url(../images/182097323_cropped.jpg);
  background-size: cover;

}



.logo img {
  margin-top: 35px;
  margin-left: 30px;
  width: 28%;
  border-radius: 20px;

}

.number img {
  margin-top: 0px;
  margin-left: 34px;
  width: 10%;
  border-radius: 20px;
}


.nav-container {
  height: 200px;
  width: 180px;
  display: inline-block;
  position: absolute;
  /* margin-top: 30px; */
   /* border-right: 1px solid #8177ba; */
  background-image: url(../images/enzo1a.png);
  background-size: cover;

}

a {
  color: #8177ba;
  text-decoration: none;

}

ul {
  list-style-type: none;
}

/*  About Section */

.content-container {

  width: 400px;
  height: 1000px;
  margin-top: 160px;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 300px;
  /* background-image: url(../images/enzo3a.png); */

}

.enzo-container {
  background-image: url(../images/EnzoBlue2.png);
  /* position: absolute; */
  background-size: contain;
  width: 1000px;
  height: auto;
  margin-left: 170px;
  background-repeat: no-repeat;


}

.title {
  font-size: 32px;
  font-weight: bold;
}
